<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>

</head>
<body class="login-bg">

<div id="app" class="login layui-anim layui-anim-up">
    <div class="message">管理登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        <input name="username" v-model="username" placeholder="用户名" type="text" lay-verify="required"
               class="layui-input">
        <hr class="hr15">
        <input name="password" v-model="password" lay-verify="required" placeholder="密码" type="password"
               class="layui-input">
        <hr class="hr15">
        <input value="登录" @click="login" style="width:100%;" type="button">
        <hr class="hr20">
    </form>
</div>

<script src="../js/vue.min.js"></script>
<script src="../js/vue-resource.js"></script>
<script type="text/javascript">
    var url = 'http://localhost:8080/index'
    var vm = new Vue({
        el: '#app',
        data: {
            username: 'zhouyu',
            password: '123456'
        },
        // beforeCreate: function () {
        //     if (self != top) {
        //         top.location.href = self.location.href;
        //     }
        // },
        methods: {
            login: function () {
                var param = {};
                param.username = vm.username;
                param.password = vm.password;
                var paramstr = JSON.stringify(param);
                this.$http.post(url, paramstr)
                    .then(function (res) {
                        if(res.data.code==0){
                            console.log("成功啦,code:"+res.data.code)
                            parent.location.href = 'index.html';
                        }
                    }).catch(function (eror) {
                    console.log("失败啦:")
                });
            }
        }
    });
</script>


<!-- 底部结束 -->
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>